<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-filter"></i></span>    
    <label for="group_add_ons_filter" class="sr-only">Group Add Ons Filter</label>
    <input type="text" class="form-control filter" data-selector="{{filter.selector}}" id="group_add_ons_filter" data-score="{{filter.score}}" name="filter" placeholder="{{^filter.placeholder}}Filter...{{/filter.placeholder}}{{filter.placeholder}}">
</div>
